swagger: "2.0"

info:
  version: 0.2.0
  title: Data Store and Model Engine Web API
  description: API to access and manipulate resources managed by the Standard Cortical Observer Data Store and Predictive Model Engine
  license:
    name: GNU GPLv3
    url: https://www.gnu.org/licenses/gpl-3.0.en.html

schemes:
  - http
host: cds-swg1.cims.nyu.edu:5050
basePath: /sco-server/api/v1

paths:
    /:
        get:
            summary: API Overview
            description: Overview of Web API and links to relevant resources and methods
            operationId: overview
            tags:
                - overview
            produces:
              - application/json
            responses:
                200:
                    description: Simple descriptive object
                    schema:
                        type: object
                        required:
                            - name
                            - links
                        properties:
                            name:
                                type: string
                            links:
                                type: array
                                items:
                                    $ref: "#/definitions/Reference"
    /experiments:
        get:
            summary: List experiments
            description: List of experiment objects
            operationId: listExperiments
            tags:
                - experiment
            parameters:
                - name: offset
                  in: query
                  required: false
                  description: Offset position for items in listing
                  type: integer
                - name: limit
                  in: query
                  required: false
                  description: Limit number of returned items
                  type: integer
                - name: properties
                  in: query
                  required: false
                  description: Comma-separated list of properties to be included in result
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: List of experiments
                    schema:
                        $ref: "#/definitions/ObjectListing"
                400:
                    description: Invalid arguments
        post:
            summary: Create experiment
            description: Create new experiment object
            operationId: createExperiment
            tags:
                - experiment
            parameters:
                - name: experiment
                  in: body
                  required: true
                  description: Experiment definition containing name, subject, image group, and optional fMRI data references
                  schema:
                      type: object
                      required:
                          - subject
                          - images
                          - properties
                      properties:
                          subject:
                              type: string
                          images:
                              type: string
                          properties:
                              $ref: "#/definitions/UpsertProperties"
            consumes:
                - application/json
            produces:
                - application/json
            responses:
                201:
                    description: Experiment object created
                    schema:
                        $ref: "#/definitions/OpResult"
                400:
                    description: Invalid request body
    /experiments/{experimentId}:
        get:
            summary: Get experiment
            description: Get experiment object with given identifier
            operationId: getExperiment
            tags:
                - experiment
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: Experiment object
                    schema:
                        $ref: "#/definitions/ExperimentHandle"
                404:
                    description: Unknown experiment
        delete:
            summary: Delete experiment
            description: Delete experiment object from database
            operationId: deleteExperiment
            tags:
                - experiment
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
            responses:
                204:
                    description: Object deleted
                404:
                    description: Unknown experiment
    /experiments/{experimentId}/properties:
        post:
            summary: Update experiment property
            description: Insert, delete, or update property of experiment object
            operationId: upsertExperimentProperty
            tags:
                - experiment
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: property
                  in: body
                  required: true
                  description: Key-value pair defining property and new value
                  schema:
                      $ref: "#/definitions/UpsertPropertiesRequest"
            responses:
                200:
                    description: Property updated
                201:
                    description: New property added
                204:
                    description: Property deleted
                400:
                    description: Attempt to update read-only property or delete mandatory property
                404:
                    description: Unknown experiment
    /experiments/{experimentId}/fmri:
        get:
            summary: Get fMRI data
            description: Get functional MRI data object associated with with given experiment
            operationId: getExperimentFMRI
            tags:
                - experiment
                - functional data
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: Functional MRI data object
                    schema:
                        $ref: "#/definitions/FMRIHandle"
                404:
                    description: Unknown functional MRI data object
        post:
            summary: Upload fMRI data
            description: Upload associated functional MRI data for experiment object
            operationId: uploadFMRI
            tags:
                - experiment
                - functional data
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: file
                  in: formData
                  required: true
                  description: Functional MRI data archive file
                  type: file
            consumes:
                - multipart/form-data
            produces:
                - application/json
            responses:
                201:
                    description: Upload successful; object(s) created
                    schema:
                        $ref: "#/definitions/OpResult"
                400:
                    description: Invalid file or request
                404:
                    description: Unknown experiment
        delete:
            summary: Delete fMRI data
            description: Delete fMRI data associated with given experiment
            operationId: deleteExperimentFMRI
            tags:
                - experiment
                - functional data
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
            responses:
                204:
                    description: Object deleted
                404:
                    description: Unknown experiment or fMRI data object
    /experiments/{experimentId}/fmr/data:
        get:
            summary: Download fMRI data file
            description: Download original functional MRI data file for object associated with given experiment
            operationId: downloadExperimentFMRI
            tags:
                - experiment
                - functional data
                - download
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
            produces:
                - application/gzip
                - application/x-tar
            responses:
                200:
                    description: File object
                    schema:
                        type: file
                404:
                    description: File not found
    /experiments/{experimentId}/fmri/properties:
        post:
            summary: Update fMRI data property
            description: Insert, delete, or update property of functional MRI data object associated with given experiment
            operationId: upsertExperimentFMRIProperty
            tags:
                - experiment
                - functional data
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: property
                  in: body
                  required: true
                  description: Key-value pair defining property and new value
                  schema:
                      $ref: "#/definitions/UpsertPropertiesRequest"
            responses:
                200:
                    description: Property updated
                201:
                    description: New property added
                204:
                    description: Property deleted
                400:
                    description: Attempt to update read-only property or delete mandatory property
                404:
                    description: Unknown functional MRI data object
    /experiments/{experimentId}/predictions:
        get:
            summary: List predictions
            description: List all predictions that are part of a particular experiment
            operationId: listExperimentPredictions
            tags:
                - experiment
                - prediction
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: offset
                  in: query
                  required: false
                  description: Offset position for items in listing
                  type: integer
                - name: limit
                  in: query
                  required: false
                  description: Limit number of returned items
                  type: integer
                - name: properties
                  in: query
                  required: false
                  description: Comma-separated list of properties to be included in result
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: List of predictions
                    schema:
                        $ref: "#/definitions/ObjectListing"
                400:
                    description: Invalid arguments
                404:
                    description: Unknown experiment
        post:
            summary: Run Experiment
            description: Start a model run for a given experiment
            operationId: createExperimentPrediction
            tags:
                - experiment
                - prediction
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: Run Definition
                  in: body
                  required: true
                  description: Run name and list of arguments and properties
                  schema:
                      type: object
                      required:
                          - name
                          - arguments
                      properties:
                          name:
                              type: string
                          arguments:
                              type: array
                              items:
                                  $ref: "#/definitions/Attribute"
                          properties:
                              $ref: "#/definitions/UpsertProperties"
            responses:
                201:
                    description: Model run started
                    schema:
                        $ref: "#/definitions/PredictionHandle"
                400:
                    description: Invalid arguments
                404:
                    description: Unknown experiment
    /experiments/{experimentId}/predictions/{predictionId}:
        get:
            summary: Get prediction
            description: Get prediction for experiment with given identifiers
            operationId: getExperimentPrediction
            tags:
                - experiment
                - prediction
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: predictionId
                  in: path
                  required: true
                  description: Unique (relative) identifier of prediction object
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: Prediction object
                    schema:
                        $ref: "#/definitions/PredictionHandle"
                404:
                    description: Unknown experiment or prediction
        delete:
            summary: Delete prediction
            description: Delete prediction model run from experiment object
            operationId: deleteExperimentPrediction
            tags:
                - experiment
                - prediction
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: predictionId
                  in: path
                  required: true
                  description: Unique (relative) identifier of prediction object
                  type: string
            responses:
                204:
                    description: Object deleted
                404:
                    description: Unknown experiment or prediction
    /experiments/{experimentId}/predictions/{predictionId}/data:
        get:
            summary: Download prediction result
            description: Download results produced by the predictive model
            operationId: downloadExperimentPrediction
            tags:
                - experiment
                - prediction
                - download
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: predictionId
                  in: path
                  required: true
                  description: Unique (relative) identifier of prediction object
                  type: string
            produces:
                - application/gzip
                - application/x-tar
            responses:
                200:
                    description: File object
                    schema:
                        type: file
                404:
                    description: Unknown experiment or prediction
    /experiments/{experimentId}/predictions/{predictionId}/properties:
        post:
            summary: Upsert prediction property
            description: Insert, delete, or update property of prediction object
            operationId: upsertExperimentPredictionProperty
            tags:
                - experiment
                - prediction
            parameters:
                - name: experimentId
                  in: path
                  required: true
                  description: Unique identifier of experiment object
                  type: string
                - name: predictionId
                  in: path
                  required: true
                  description: Unique (relative) identifier of prediction object
                  type: string
                - name: property
                  in: body
                  required: true
                  description: Key-value pair defining property and new value
                  schema:
                      $ref: "#/definitions/UpsertPropertiesRequest"
            responses:
                200:
                    description: Property updated
                201:
                    description: New property added
                204:
                    description: Property deleted
                400:
                    description: Attempt to update read-only property or delete mandatory property
                404:
                    description: Unknown experiment or prediction
    /images/files:
        get:
            summary: List images
            description: List of image objects
            operationId: listImage
            tags:
                - image
            parameters:
                - name: offset
                  in: query
                  required: false
                  description: Offset position for items in listing
                  type: integer
                - name: limit
                  in: query
                  required: false
                  description: Limit number of returned items
                  type: integer
                - name: properties
                  in: query
                  required: false
                  description: Comma-separated list of properties to be included in result
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: List of image objects
                    schema:
                        $ref: "#/definitions/ObjectListing"
                400:
                    description: Invalid arguments
    /images/files/{imageId}:
        get:
            summary: Get image
            description: Get image object with given identifier
            operationId: getImage
            tags:
                - image
            parameters:
                - name: imageId
                  in: path
                  required: true
                  description: Unique identifier of image object
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: Subject object
                    schema:
                        $ref: "#/definitions/ObjectHandle"
                404:
                    description: Unknown image object
        delete:
            summary: Delete image object
            description: Delete image object from database
            operationId: deleteImage
            tags:
                - image
            parameters:
                - name: imageId
                  in: path
                  required: true
                  description: Unique identifier of image object
                  type: string
            responses:
                204:
                    description: Object deleted
                404:
                    description: Unknown image object
    /images/files/{imageId}/properties:
        post:
            summary: Update image property
            description: Insert, delete, or update property of image object
            operationId: upsertImageProperty
            tags:
                - image
            parameters:
                - name: imageId
                  in: path
                  required: true
                  description: Unique identifier of image object
                  type: string
                - name: property
                  in: body
                  required: true
                  description: Key-value pair defining property and new value
                  schema:
                      $ref: "#/definitions/UpsertPropertiesRequest"
            responses:
                200:
                    description: Property updated
                201:
                    description: New property added
                204:
                    description: Property deleted
                400:
                    description: Attempt to update read-only property or delete mandatory property
                404:
                    description: Unknown image object
    /images/files/{imageId}/data:
        get:
            summary: Download image file
            description: Download single image file for object with given identifier
            operationId: downloadImage
            tags:
                - image
                - download
            parameters:
                - name: imageId
                  in: path
                  required: true
                  description: Unique identifier of image object
                  type: string
            produces:
                - image/jpeg
                - image/png
                - image/gif
            responses:
                200:
                    description: File object
                    schema:
                        type: file
                404:
                    description: File not found
    /images/groups:
        get:
            summary: List image groups
            description: List of image group objects
            operationId: listImageGroup
            tags:
                - image
            parameters:
                - name: offset
                  in: query
                  required: false
                  description: Offset position for items in listing
                  type: integer
                - name: limit
                  in: query
                  required: false
                  description: Limit number of returned items
                  type: integer
                - name: properties
                  in: query
                  required: false
                  description: Comma-separated list of properties to be included in result
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: List of image group objects
                    schema:
                        $ref: "#/definitions/ObjectListing"
                400:
                    description: Invalid arguments
    /images/groups/{imageGroupId}:
        get:
            summary: Get image group
            description: Get image group object with given identifier
            operationId: getImageGroup
            tags:
                - image
            parameters:
                - name: imageGroupId
                  in: path
                  required: true
                  description: Unique identifier of image group object
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: Image group object
                    schema:
                        $ref: "#/definitions/ImageGroupHandle"
                404:
                    description: Unknown image group
        delete:
            summary: Delete image group object
            description: Delete image group object from database
            operationId: deleteImageGroup
            tags:
                - image
            parameters:
                - name: imageGroupId
                  in: path
                  required: true
                  description: Unique identifier of image group object
                  type: string
            responses:
                204:
                    description: Object deleted
                404:
                    description: Unknown image group
    /images/groups/{imageGroupId}/data:
        get:
            summary: Download image groups
            description: Download image groups file for object with given identifier
            operationId: downloadImage
            tags:
                - image
                - download
            parameters:
                - name: imageGroupId
                  in: path
                  required: true
                  description: Unique identifier of image group object
                  type: string
            produces:
                - application/gzip
                - application/x-tar
            responses:
                200:
                    description: File object
                    schema:
                        type: file
                404:
                    description: File not found
    /images/groups/{imageGroupId}/images:
        get:
            summary: List images in group
            description: Listing for images in an image group
            operationId: imageGroupListImages
            tags:
                - image
            parameters:
                - name: imageGroupId
                  in: path
                  required: true
                  description: Unique identifier of image group object
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: List of images
                    schema:
                        $ref: "#/definitions/GroupImageListing"
                400:
                    description: Invalid arguments
                404:
                    description: Unknown image group
    /images/groups/{imageGroupId}/options:
        post:
            summary: Update image group options
            description: Update set of options of image group object
            operationId: updateImageGroupOptions
            tags:
                - image
            parameters:
                - name: imageGroupId
                  in: path
                  required: true
                  description: Unique identifier of image group object
                  type: string
                - name: property
                  in: body
                  required: true
                  description: Key-value pair defining property and new value
                  schema:
                      type: object
                      required:
                          - options
                      properties:
                          options:
                              type: array
                              items:
                                  $ref: "#/definitions/Attribute"
            responses:
                200:
                    description: Property updated
                201:
                    description: New property added
                204:
                    description: Property deleted
                404:
                    description: Unknown image group
    /images/groups/{imageGroupId}/properties:
        post:
            summary: Update image group property
            description: Insert, delete, or update property of image group object
            operationId: upsertImageGroupProperty
            tags:
                - image
            parameters:
                - name: imageGroupId
                  in: path
                  required: true
                  description: Unique identifier of image group object
                  type: string
                - name: property
                  in: body
                  required: true
                  description: Key-value pair defining property and new value
                  schema:
                      $ref: "#/definitions/UpsertPropertiesRequest"
            responses:
                200:
                    description: Property updated
                201:
                    description: New property added
                204:
                    description: Property deleted
                400:
                    description: Attempt to update read-only property or delete mandatory property
                404:
                    description: Unknown image group
    /images/upload:
        post:
            summary: Create image or image group via file upload
            description: Upload a single file image or tar-file of images
            operationId: uploadImages
            tags:
                - image
            parameters:
                - name: file
                  in: formData
                  required: true
                  description: Image or archive file
                  type: file
            consumes:
                - multipart/form-data
            produces:
                - application/json
            responses:
                201:
                    description: Upload successful; object(s) created
                    schema:
                        $ref: "#/definitions/OpResult"
                400:
                    description: Invalid file or request
    /subjects:
        get:
            summary: List subjects
            description: List of brain anatomy MRI objects
            operationId: listSubjects
            tags:
                - subject
            parameters:
                - name: offset
                  in: query
                  required: false
                  description: Offset position for items in listing
                  type: integer
                - name: limit
                  in: query
                  required: false
                  description: Limit number of returned items
                  type: integer
                - name: properties
                  in: query
                  required: false
                  description: Comma-separated list of properties to be included in result
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: List of subject anatomy objects
                    schema:
                        $ref: "#/definitions/ObjectListing"
                400:
                    description: Invalid arguments
        post:
            summary: Create subject via file upload
            description: Upload a brain anatomy MRI archive (Freesurfer directory)
            operationId: uploadSubject
            tags:
                - subject
            parameters:
                - name: file
                  in: formData
                  required: true
                  description: Freesurfer directory archive file
                  type: file
            consumes:
                - multipart/form-data
            produces:
                - application/json
            responses:
                201:
                    description: Upload successful; object(s) created
                    schema:
                        $ref: "#/definitions/OpResult"
                400:
                    description: Invalid file or request
    /subjects/{subjectId}:
        get:
            summary: Get subject
            description: Get brain anatomy MRI object with given identifier
            operationId: getSubject
            tags:
                - subject
            parameters:
                - name: subjectId
                  in: path
                  required: true
                  description: Unique identifier of subject
                  type: string
            produces:
                - application/json
            responses:
                200:
                    description: Subject object
                    schema:
                        $ref: "#/definitions/ObjectHandle"
                404:
                    description: Unknown subject
        delete:
            summary: Delete subject
            description: Delete brain anatomy MRI object from database
            operationId: deleteSubject
            tags:
                - subject
            parameters:
                - name: subjectId
                  in: path
                  required: true
                  description: Unique identifier of subject
                  type: string
            responses:
                204:
                    description: Object deleted
                404:
                    description: Unknown subject
    /subjects/{subjectId}/properties:
        post:
            summary: Update subject property
            description: Insert, delete, or update property of subject
            operationId: upsertSubjectProperty
            tags:
                - subject
            parameters:
                - name: subjectId
                  in: path
                  required: true
                  description: Unique identifier of subject
                  type: string
                - name: property
                  in: body
                  required: true
                  description: Key-value pair defining property and new value
                  schema:
                      $ref: "#/definitions/UpsertPropertiesRequest"
            responses:
                200:
                    description: Property updated
                201:
                    description: New property added
                204:
                    description: Property deleted
                400:
                    description: Attempt to update read-only property or delete mandatory property
                404:
                    description: Unknown subject
    /subjects/{subjectId}/data:
        get:
            summary: Download anatomy file
            description: Download original anatomy file for object with given identifier
            operationId: downloadSubject
            tags:
                - subject
                - download
            parameters:
                - name: subjectId
                  in: path
                  required: true
                  description: Unique identifier of subject
                  type: string
            produces:
                - application/gzip
                - application/x-tar
            responses:
                200:
                    description: File object
                    schema:
                        type: file
                404:
                    description: File not found
definitions:
    Attribute:
        type: object
        required:
            - name
            - value
        properties:
            name:
                type: string
            value:
                type: string
    BaseObjectHandle:
        type: object
        required:
            - id
            - timestamp
            - name
            - links
        properties:
            id:
                type: string
            timestamp:
                type: string
            name:
                type: string
            links:
                type: array
                items:
                    $ref: "#/definitions/Reference"
    ExperimentHandle:
        allOf:
            - $ref: "#/definitions/ObjectHandle"
            - properties:
                subject:
                    type: object
                    $ref: "#/definitions/ObjectHandle"
                images:
                    type: object
                    $ref: "#/definitions/ImageGroupHandle"
                fmri:
                    type: object
                    $ref: "#/definitions/FMRIHandle"
    FMRIHandle:
        allOf:
            - $ref: "#/definitions/ObjectHandle"
            - properties:
                experiment:
                    type: object
                    required:
                        - id
                        - links
                    properties:
                        id:
                            type: string
                        links:
                            type: array
                            items:
                                $ref: "#/definitions/Reference"
    GroupImage:
        type: object
        required:
            - id
            - name
            - folder
            - links
        properties:
            id:
                type: string
            name:
                type: string
            folder:
                type: string
            links:
                type: array
                items:
                    $ref: "#/definitions/Reference"
    GroupImageListing:
        type: object
        required:
            - offset
            - limit
            - count
            - totalCount
            - items
            - links
        properties:
            offset:
                type: integer
            limit:
                type: integer
            count:
                type: integer
            totalCount:
                type: integer
            items:
                type: array
                items:
                    $ref: "#/definitions/GroupImage"
            links:
                type: array
                items:
                    $ref: "#/definitions/Reference"
    ImageGroupHandle:
        allOf:
            - $ref: "#/definitions/ObjectHandle"
            - properties:
                images:
                    type: object
                    required:
                        - count
                        - links
                    properties:
                        count:
                            type: integer
                        links:
                            type: array
                            items:
                                $ref: "#/definitions/Reference"
                options:
                    type: array
                    items:
                        $ref: "#/definitions/Attribute"
    KeyValuePair:
        type: object
        required:
            - key
        properties:
            key:
                type: string
            value:
                type: string
    ObjectHandle:
        allOf:
            - $ref: "#/definitions/BaseObjectHandle"
            - properties:
                properties:
                    type: array
                    items:
                        $ref: "#/definitions/KeyValuePair"
    ObjectListing:
        type: object
        required:
            - offset
            - limit
            - count
            - totalCount
            - items
            - links
        properties:
            offset:
                type: integer
            limit:
                type: integer
            count:
                type: integer
            totalCount:
                type: integer
            items:
                type: array
                items:
                    $ref: "#/definitions/BaseObjectHandle"
            links:
                type: array
                items:
                    $ref: "#/definitions/Reference"
    OpResult:
        type: object
        required:
            - result
            - links
        properties:
            result:
                type: string
            links:
                type: array
                items:
                    $ref: "#/definitions/Reference"
    PredictionHandle:
        allOf:
            - $ref: "#/definitions/ObjectHandle"
            - properties:
                experiment:
                    type: object
                    required:
                        - id
                        - links
                    properties:
                        id:
                            type: string
                        links:
                            type: array
                            items:
                                $ref: "#/definitions/Reference"
                state:
                    type: string
                errors:
                    type: array
                    items:
                        type: string
                arguments:
                    type: array
                    items:
                        $ref: "#/definitions/Attribute"
    Reference:
        type: object
        required:
            - rel
            - href
        properties:
            rel:
                type: string
            href:
                type: string
    UpsertProperties:
        type: array
        items:
            $ref: "#/definitions/KeyValuePair"
    UpsertPropertiesRequest:
        type: object
        required:
            - properties
        properties:
            properties:
                $ref: "#/definitions/UpsertProperties"
